:root{
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Almost-White: hsl(0, 0%, 98%);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}
body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--Almost-White);
}
.Container_main p{
    font-size: 15px;
}
.container{
    width:90%;
    margin-right: 1rem;
    margin-left: 1rem;
    height: calc(100vh - 1.3rem);
}

.header{
    margin-top: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Container_logo{
    display: flex;
    align-items: center;
}
.Img_logo{
    background-color: var(--Almost-White);
    width: 50px;
}
.logo{
    color: #287094;
    font-size: 20px;
}
.Container_nav_bar a{
    color: var(--Medium-Gray);
    font-weight: 500;
}

.Container_download .Btn_download{
    border-radius: 0.6rem;
    background-color: transparent;
    border: solid 1px;
    border-color: var(--Medium-Gray);
    padding: 8px 12px;
    color: var(--Medium-Gray);
}
.Container_download .Btn_download:hover{
    color: var(--Almost-Black);
    cursor: pointer;
    border-color: var(--Almost-Black);
    outline: none;
}
.Container_main{
    display: grid;
}
.Container_hero_content h1{
  color: #287094;
}
.Container_hero_content p{
    line-height: 1.5;
    color: var(--Medium-Gray);
}
.Container_hero_content .Btn_download{
    border: none;
    background-color: #287094;
    color: var(--Almost-White);
    padding: 15px 23px;
    border-radius: 0.8rem;
    font-size: 16px;
}
.Container_hero_content .Btn_download:hover{
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
    background-color: transparent;
    cursor: pointer;
    padding: 14px 22px;
}
footer{
    padding: 20px;
    text-align: center;
    color: #2c2525;
    font-weight: 100;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}
footer span{
    color: red;
}
footer a{
    color: #2c2525;
    cursor: pointer;
}
footer .icons{
    display: flex;
    gap: 23px;
}

footer i{
    cursor: pointer;
    font-size: 23px;
}
.Container_about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container_img_profil{
    width: 120px;
}
.Container_img_profil img{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.founder p{
    line-height: 1.6;
    color: var(--Medium-Gray);
}

@media(max-width:599px){
    .Btn_menu.active{
        display: none;
    }
    .Container_nav_bar{
        display: flex;
        flex-direction: column;
        gap: 22px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        padding: 0;
        overflow: hidden;
        width: 0;
        height: 100vh;
        transition: 0.6s ease;
        z-index: 1000;
    }
    .Container_nav_bar.active{
        padding: 14px;
        width: 64vw;
    }
    .Btn_close{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .Container_nav{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .Container_download{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Container_download .Btn_download{
        padding: 10px 33px;
    }
    .Container_main{
        margin-top: 1.6rem;
        margin-bottom: 2rem;
    }
    .Img_mobile{
        margin-right: -21px;
        margin-left: -16px;
        margin-bottom: 2rem;
    }
    .Img_mobile img{
        width: 100%;
    }
    .Container_hero_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        margin-bottom: 30px;
    }
    .Container_hero_content p{
        line-height: 1.5;
        font-size: 16px;
        color: var(--Medium-Gray);
    }
    
    footer{
        margin-bottom: 15px;
        margin-top: 15px;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }
    .Container_about{
        gap: 40px;
        margin-top: 26px;
    }
    .founder footer{
        padding: 0;
    }
    
  
}

@media(min-width:600px){
    .container{
        width:95%;
    }
    .header{
        position:relative;
        margin-top: 1.3rem;
    }
    .Btn_menu{
        display: none;
    }
    .Container_nav_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -3px;
    }
    .Container_nav_bar a:hover{
        color: var(--Almost-Black);
    }
    .Btn_close{
        display: none;
    }
    .Container_nav_bar a{
        font-size: 14px;
    }
    .Container_nav{
        display: flex;
        gap: 20px;
        position: absolute;
        left: 160px;
    }
    .Container_main{
        display: flex;
        margin-top: 1.5rem;
        width: 100%;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
    }
    .Container_main p{
        font-size: 1rem;
    }
    .Img_mobile img{
        width:100%;
    }
    /* h1 span::after{
        content: "\a";
        white-space: pre;
    } */
    .Container_hero_content{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .Container_hero_content h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .Container_hero_content p{
        margin-bottom: 20px;
    }
    .Container_hero_content{
        margin-bottom: 80px;
    }
    footer{
        position: fixed;
        width: 100%;
        bottom: 30px;
        left: 20px;
    }
    footer .text{
        width: 284px;
        position: absolute;
        left: 40px;
    }
    footer .icons{
        width: 201px;
        position: absolute;
        right: 80px;
    }
    .Container_about{
        width: 700px;
        position: absolute;
        justify-content: space-between;
        background-color: white;
        border-radius: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        align-items: unset;
    }
    .Container_img_profil img{
        border-radius: 6px;
        height: 100%;
    }
    .Container_img_profil{
        width: 500px;
    }
    .founder{
        width: 618px;
        padding: 30px;
        position: relative;
    }
    .founder p{
        font-size: 14px;
        line-height: 1.7;
    }
    .founder footer .icons{
        bottom: 20px;
    }
    .founder footer{
        position: unset;
    }
}

@media(min-width:1200px){
    .Container_main{
        width: 80%;
    }
    .Container_about{
        width: 800px;
        align-items: center;
    }
    .Container_img_profil{
        width: 500px;
    }
    .founder{
        width: 618px;
    }
    
}