:root {
  --main-color: #f6f6f6;
  --second-color: #023246;
  --third-color: #001b48;
  --fourth-color: #02457a;
  --fife-color: #01babe;
  --sixth-color: #97cadb;
  --seventh-color: #d6ebee;
  --eighth-color: #287094;
  --nineth-color: #d4d4ce;
  --padding-top-bottom: 1.2rem;
  --padding-left-right: 2.4rem;
  --border-radius: 6.4rem;
}

/* ======================GLOBAL RULES==================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 10px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* ============================HEADER======================== */
header {
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--eighth-color);
  font-weight: bold;
  font-size: 2.2rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
}
header nav a {
  padding: 0.2rem 1rem 0 1rem;
  font-size: 1.6rem;
  color: var(--eighth-color);
  font-weight: 700;
  transition: 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  overflow: hidden;
}
header nav a:hover {
  background-color: #fafafa;
  color: var(--fourth-color);
}
header nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: var(--eighth-color);
  top: 0;
  left: -100%;
  transition: 0.3s ease;
}
header nav a:hover::before {
  left: 0;
}
header .download {
  padding: var(--padding-top-bottom) var(--padding-left-right);
  font-size: 1.4rem;
  border-radius: var(--border-radius);
  background-color: var(--eighth-color);
  outline: none;
  border: none;
  color: #fff;
}
header .download:hover {
  background-color: var(--sixth-color);
}
.burger-menu {
  display: none;
}
.rotate {
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.second-color {
  color: var(--second-color) !important;
}
.side-bar {
  display: none;
}
.translate {
  transform: translate(0);
}
.social i:hover {
  color: var(--eighth-color);
}

/* ================= MENU MEDIA QUERY================ */
@media (max-width: 667px) {
  header .download {
    display: none;
  }
  .burger-menu {
    display: flex;
    position: relative;
  }
  .nav-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  .nav-btn i {
    font-size: 2.5rem;
    color: var(--eighth-color);
  }
  #nav {
    display: none;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--sixth-color);
    padding: 2rem;
    transition: 0.7s ease;
    transform: translate(-100%);
  }
  .side-bar a {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transition: 0.3s ease;
    color: var(--fourth-color);
  }
  .side-bar > a:hover {
    padding-left: 1.8rem;
    border-radius: 1rem;
    color: #fff;
    background-color: var(--eighth-color);
  }
  .side-bar .logo {
    display: flex;
    justify-content: space-between;
  }
  .side-bar .close-btn {
    outline: none;
    border: none;
    background-color: transparent;
  }
  .side-bar .close-btn i {
    font-size: 4rem;
    color: var(--fourth-color);
  }
  .side-bar h1 {
    color: var(--fourth-color);
    font-weight: bold;
    font-size: 3.2rem;
  }
  .side-bar .social {
    display: flex;
    gap: 3rem;
    margin-left: 58%;
    transform: translateX(-50%);
  }
  .side-bar i {
    font-size: 2rem;
  }
}
