:root {
  --main-color: #f6f6f6;
  --second-color: #023246;
  --third-color: #001b48;
  --fourth-color: #02457a;
  --fife-color: #01babe;
  --sixth-color: #97cadb;
  --seventh-color: #d6ebee;
  --eighth-color: #287094;
  --nineth-color: #d4d4ce;
}

/* ======================GLOBAL RULES==================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 10px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* ========================HEADER================ */
header {
  background-color: #fff;
  height: 6rem;
  padding-top: 1rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container h1 {
  font-size: 2.5rem;
  color: var(--eighth-color);
}
header .container a {
  font-size: 1.8rem;
  color: #fff;
  border: none;
  border-radius: 6.4rem;
  background-color: var(--eighth-color);
  padding: 1.1rem 3rem;
  cursor: pointer;
  position: relative;
}
/* .circle {
  position: absolute;
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  animation: scale 0.5s ease-out;
}
@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
} */
/* ====================MAIN======================= */
.main {
  background-color: var(--eighth-color);
  height: calc(100vh - 6rem);
}
.main .container {
  display: flex;
  align-items: center;
  padding-top: 5rem;
}
.main .container .text {
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-name: move;
}
.main .container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #023246;
  font-family: "Merriweather", serif;
  padding-bottom: 1rem;
}
.main .container p {
  font-size: 3rem;
  line-height: 1.7;
  color: #fff;
  font-family: "Moon Dance", cursive;
}
.main .container span {
  color: var(--third-color);
  font-weight: bold;
  font-family: "Moon Dance", cursive;
}
.main .container img {
  width: 100%;
  animation-duration: 6s;
  animation-name: vanish;
  animation-timing-function: ease-in-out;
  position: relative;
}
@keyframes vanish {
  0% {
    opacity: 0;
    left: 1rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes move {
  0% {
    opacity: 0;
    right: 3rem;
    top: 1rem;
  }
  100% {
    opacity: 1;
    left: 2rem;
    top: 0;
  }
}
