:root {
  --main-color: #f6f6f6;
  --second-color: #023246;
  --third-color: #001b48;
  --fourth-color: #02457a;
  --fife-color: #01babe;
  --sixth-color: #97cadb;
  --seventh-color: #d6ebee;
  --eighth-color: #287094;
  --nineth-color: #d4d4ce;
}

/* ======================GLOBAL RULES==================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
