:root {
  --main-color: #f6f6f6;
  --second-color: #023246;
  --third-color: #001b48;
  --fourth-color: #02457a;
  --fife-color: #01babe;
  --sixth-color: #97cadb;
  --seventh-color: #d6ebee;
  --eighth-color: #287094;
  --nineth-color: #d4d4ce;
}

/* ======================GLOBAL RULES==================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 10px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* ========================HEADER================ */
header {
  background-color: #fff;
  height: 5rem;
  padding-top: 1rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container h1 {
  font-size: 2.5rem;
  color: var(--eighth-color);
}
header .container a {
  font-size: 1.8rem;
  color: #fff;
  border: none;
  border-radius: 6.4rem;
  background-color: var(--eighth-color);
  padding: 1.1rem 3rem;
  cursor: pointer;
}
